@using PexelsDotNetSDK.Api
@using PexelsDotNetSDK.Models

@page "/videoLookup"
@inject PexelsClient pexelsClient
@inject LikeVideoService LikeVideoService
@inject StoredVideosService StoredVideosService
@inject IJSRuntime JSRuntime

<PageTitle>Video Lookup</PageTitle>

<Container>
    <Row>
        <!-- Search input column -->
        <Column Size="ColumnSize.Is6" Class="d-flex flex-column justify-content-center">
            <div class="input-group">
                <InputText Placeholder="Search Image..." @bind-Value="searchQuery" class="form-control" />
                <Button Class="btn btn-primary" Clicked="SearchVideos">Search</Button>
            </div>
        </Column>
        <!-- Slider column -->
        <Column Size="ColumnSize.Is6">
            <div class="d-flex flex-column align-items-center">
                <Paragraph Class="mb-0"> Video Amount: @videoCount</Paragraph>
                    <Slider @bind-Value="@videoCount" Min="1" Max="12" Step="1" />
                </div>
            </Column>
        </Row>
    </Container>

    @if (videos != null)
{
    if (searched)
    {
        <h2 class="text-center my-5">You searched for: @searchQuery</h2>
    }
    else
    {
        <h2 class="text-center my-5">Showing Weather Videos</h2>
    }

    <Container>
        <Row>
            @foreach (var video in videos)
            {
                <Column Class="col-12 col-md-4 mb-4">
                    <div class="video-container position-relative">
                        <video controls>
                            <source src="@video.videoFiles.First(videofile => videofile.quality == "sd" || videofile.quality == "hd").link" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <Button Color="Color.Primary" Class="like-remove-button position-absolute" Clicked="@(() => LikeVideo(video))">Like</Button>
                    </div>
                </Column>
            }
        </Row>
    </Container>
}

@code {
    private List<Video>? videos;
    private string searchQuery = string.Empty;
    private int videoCount = 3;
    private bool searched;

    protected override async Task OnInitializedAsync() // On page load, call the api for temporary 'weather' videos.
    {
        try
        {
            if (StoredVideosService.VideosStored.Count == 0)
            {
                Random random = new();
                int RandomPageNumber = random.Next(1, 101);

                var result = await pexelsClient.SearchVideosAsync("weather", page: RandomPageNumber, pageSize: 3);
                videos = result.videos.ToList();

                foreach (var video in videos)
                {
                    StoredVideosService.AddVideo(video);
                }
            }
            else
            {
                videos = StoredVideosService.VideosStored;
            }
        }catch (Exception e)
        {
            Console.WriteLine($"Error Loading videos: {e.Message}");
        }
    }

    // Function for searching images on Pexels.
    public async Task SearchVideos()
    {
        try
        {
            videos?.Clear();
            Random random = new();
            int RandomPageNumber = random.Next(1, 101);

            if (searchQuery != string.Empty)
            {
                searched = true;

                var result = await pexelsClient.SearchVideosAsync(searchQuery, page: RandomPageNumber, pageSize: videoCount); // Negative numbers and 0 handled by the API. Returns 1 image.
                videos = result.videos.ToList();

                if (videos.Count == 0) // Saying if we retrieve no videos, well then just get the first page with the amount of images the user wants.
                {
                    var resultfail = await pexelsClient.SearchVideosAsync(searchQuery, page: 1, pageSize: videoCount);
                    videos = resultfail.videos.ToList();
                }

                StoredVideosService.VideosStored = videos;
            }
            else 
            {
                searched = false;

                if (StoredVideosService.VideosStored.Count == 0)
                {
                    var result = await pexelsClient.SearchVideosAsync("weather", page: RandomPageNumber, pageSize: videoCount);
                    videos = result.videos.ToList();

                    // We still need to store those videos to prevent needless requests.
                    StoredVideosService.VideosStored = videos;
                }
                else
                {
                    videos = StoredVideosService.VideosStored;
                }
            }
        }catch (Exception e)
        {
            Console.WriteLine($"Error searching videos: {e.Message}");
        }
    }

    public async Task LikeVideo(Video video)
    {
        if (!LikeVideoService.LikedVideos.Contains(video))
        {
            await Task.Run(() => LikeVideoService.AddLikedVideo(video));
        }
    }
}